@font-face{
    font-family: 'Montserrat';
    src:url('../font/Montserrat-Light.ttf');
    font-weight: normal;
    font-display: block;
}

@font-face{
    font-family: 'Montserrat';
    src:url('../font/Montserrat-Regular.ttf');
    font-weight: medium;
    font-display: block;
}

@font-face{
    font-family: 'Montserrat';
    src:url('../font/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: block;
}

@font-face{
    font-family: 'Montserrat';
    src:url('../font/Montserrat-Black.ttf');
    font-weight: 900;
    font-display: block;
}